---
layout: default
---

<div class="home">

  <ul>
    {% for post in site.posts %}
       <div class="entry">
		
		<h2>
			{% if post.external-url %}
  		  	<a href="{{ post.external-url }}">
    			{{ post.title }}
			</a>
			{% else %}
    			{{ post.title }}
  		  	</a>
			{% endif %}
		</h2>


		<div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp; <a href="{{ post.url }}">Permalink</a></div>
		<br>
   
		   
		
	    <div class="post-content">
	      {{ post.content }}
	    </div>

       </div>
       {% endfor %}
	</ul>     

</div>
